@use 'variables' as *;
@use 'mixins' as *;

.header {
  background-color: $color-primary-dark;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;

  &__inner {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 18px $spacing-xl;
    display: flex;
    align-items: center;

    @include tablet {
      padding: 18px 48px;
    }

    @include desktop {
      padding: 18px 80px;
    }

    @include mobile {
      padding: 16px 20px;
    }
  }

  &__logo-image {
    height: 20px;
    width: auto;
    display: block;
  }
}
