@use 'variables' as *;
@use 'mixins' as *;

.header {
  background-color: $color-primary-dark;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  height: 80px;
  display: flex;
  align-items: center;

  &__inner {
    width: 100%;
    max-width: 520px;
    margin: 0 auto;
    padding: 12px 32px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @include mobile {
      max-width: 100%;
      padding: 12px 20px;
    }

    @include tablet {
      max-width: 640px;
    }

    @include desktop {
      max-width: 680px;
    }

    @include desktop-xl {
      max-width: 720px;
    }
  }

  &__logo-image {
    height: 33px;
    width: auto;
    display: block;
  }
}
