@use 'variables' as *;
@use 'mixins' as *;

.footer {
  background-color: $color-bg-footer;
  padding: 30px 32px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  @include mobile {
    padding: 16px 20px;
  }

  &__text {
    max-width: 1200px;
    font-size: 12px;
    color: $color-text-muted;
    font-weight: 500;
    line-height: 1.2;

    a {
      color: $color-text-muted;
      text-decoration: underline;
      transition: color 0.2s;

      &:hover {
        color: $color-primary;
      }
    }
  }
}
